{% extends "base.html" %}

{% block title %}Страница "вопросы"{% endblock %}

{% block content %}
  <p> Новые вопросы <a href="/">Горячие вопросы</a></p>

  <div class="div-column">
    

    <div class="question-card">
      <div class="div-column div-column--aside">
        <p>Фото</p>
        <p>Рейтинг</p>
      </div>
      <div class="div-column div-column--main">
        <p>Тема вопроса</p>
        <p>Текст вопроса</p>
        <p>
          <a href="/">Ответы(3)</a> 
          Тэги: 
          <a href="/">WEB</a>
          <a href="/">Технопарк</a>
        </p>
      </div>
      
    </div>

    <div class="question-card">
      <div class="div-column div-column--aside">
        <p>Фото</p>
        <p>Рейтинг</p>
      </div>
      <div class="div-column div-column--main">
        <p>Тема вопроса</p>
        <p>Текст вопроса</p>
        <p>
          <a href="/">Ответы(3)</a> 
          Тэги: 
          <a href="/">WEB</a>
          <a href="/">Технопарк</a>
        </p>
      </div>
      
    </div>

  </div>

  <div>
    <ul class="div-row">
      <span class="pagination-btn"><a href="?page=1">1</a></span>
      <span class="pagination-btn"><a href="?page=2">2</a></span>

      <span class="pagination-btn"><a href="?page=2">...</a></span>
      <span class="pagination-btn"><a href="?page=2">53</a></span>
    </ul>
  </div>

{% endblock %}