{% extends "base.html" %}

{% block title %}Страница "вопросы"{% endblock %}

{% block content %}
  <p class="info-header"> Новые вопросы <a class="info-text" href="{% url 'questions:hot' %}">Горячие вопросы</a></p>

  <div class="div-column">
    
    {% for q in questions %}
      <div class="question-card">
        <div class="div-column div-column--aside">
          <img class="question-avatar" src="{{ q.avatar_url }}" alt="" />
          <input class="rating-input" type="number" value="{{ q.rating }}"></input>
        </div>
        <div class="div-column div-column--main">
          <p><a href="{% url 'questions:question_detail' q.id %}">{{ q.title }}</a></p>
          <p>{{ q.text }}</p>
          <p>
            <a href="{% url 'questions:question_detail' q.id %}">Ответы({{ q.answers_count }})</a>
            Тэги:
            {% for t in q.tags %}
              <a href="{% url 'questions:tag' t %}">{{ t }}</a>
            {% endfor %}
          </p>
        </div>
      </div>
    {% empty %}
      <p>Вопросов пока нет.</p>
    {% endfor %}

    {% include "questions/pagination.html" with page_obj=page_obj %}

    {% comment %} <div>
      <ul class="div-row">
        <span class="pagination-btn"><a href="?page=1">1</a></span>
        <span class="pagination-btn"><a href="?page=2">2</a></span>

        <span class="pagination-btn"><a href="?page=2">...</a></span>
        <span class="pagination-btn"><a href="?page=2">53</a></span>
      </ul>
    </div> {% endcomment %}

  </div>


{% endblock %}