{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}StackOverflow{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  {% block extra_head %}{% endblock %}
</head>

<body>

  <main class="container">
    <p class="info-header title">Popular tags</p>
    <p>
      <span>perl</span>
      <span class="red-text">python</span>
      <span>Technopark</span>
      <span>ruby</span>
      <span class="green-text">RubyOnRails</span>
      <span>Extrem</span>
      <span class="red-text">Coding</span>
      <span>LifeStyle</span>
      <span>NDS</span>
      <span class="purple-text">Golang</span>
      <span>Protobuf</span>
    </p>

    <p class="info-header">Best Members</p>
    <ul>
      <li><a>Daniil Mironenko</a></li>
      <li><a>Malkov Oleg</a></li>
      <li><a>Tim Tim</a></li>
      <li><a>Archipov Artem</a></li>
    </ul>

  </main>

  {% block extra_js %}{% endblock %}
  
</body>
</html>
