{% extends "base.html" %}

{% block title %} Страница вопроса {% endblock %}

{% block content %}

  <div class="div-column">

    <div class="question-card">
      <div class="div-column div-column--aside">
        <img class="question-avatar" src="{{ question.user.profile.avatar_url }}" alt="" />
        <input class="rating-input" type="number" value="{{ question.rating }}" disabled>
      </div>
      <div class="div-column div-column--main">
        <p>{{ question.topic }}</p>
        <p>{{ question.text }}</p>
        <p>
          Тэги:
          {% for t in question.tags.all %}
            <a href="{% url 'questions:tag' t.title %}">{{ t.title }}</a>
          {% endfor %}
        </p>
      </div>
    </div>

    <hr />
    <h3>Ответы:</h3>

    {% for a in answers %}
      <div class="answer-card">
        <div class="div-column div-column--aside">
          <img class="question-avatar" src="{{ a.user.profile.avatar_url }}" alt="" />
          <input class="rating-input" type="number" value="{{ a.rating }}" disabled>
        </div>
        <div class="div-column div-column--main">
          <p>{{ a.text }}</p>
          <p>
            <input id="correct-{{ a.id }}" type="checkbox" {% if a.is_correct %}checked{% endif %} disabled>
            <label for="correct-{{ a.id }}">Правильно</label>
          </p>
        </div>
      </div>
    {% empty %}
      <li>Ответов пока нет.</li>
    {% endfor %}

    <hr />

    <form method="post" action="{% url 'questions:answer_create' question.id %}">
      {% csrf_token %}

      <div class="answer-card user-answer-card">
        <div class="div-column--main">

          <textarea
            class="user-answer"
            name="{{ answer_form.text.name }}"
            rows="4"
            placeholder="Введите Ваш ответ"
          >{{ answer_form.text.value|default_if_none:"" }}</textarea>

          {% if answer_form.text.errors %}
            <div class="form-error">
              {{ answer_form.text.errors }}
            </div>
          {% endif %}

          <button type="submit"> Ответ </button>
        </div>
      </div>
    </form>

  </div>

{% endblock %}
