{% extends "base.html" %}
{% load static %}

{% block title %}Новый вопрос{% endblock %}

{% block extra_head %} 
  <link rel="stylesheet" href="{% static 'css/forms.css' %}"> 
{% endblock %}

{% block content %}
  <div class="div-container">
    <form class="form">
      <div class="form-grid">
        <label for="title">Вопрос</label>
        <input id="title" name="title" type="text">

        <label for="question-text">Текст вопроса</label>
        <textarea id="question-text" name="text" rows="6"></textarea>

        <label for="tags">Список тэгов</label>
        <input id="tags" name="tags" type="text">

        <p></p>
        <button type="submit">Спросить!</button>

      </div>


        
    </form>



  </div>

{% endblock %}