{% extends "base.html" %}
{% load static %}

{% block title %}Новый вопрос{% endblock %}

{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
  <div class="div-container">
    <form class="form" method="post">
      {% csrf_token %}

      <div class="form-grid">

        <label for="{{ form.topic.id_for_label }}">Вопрос</label>
        {{ form.topic }}
        {% if form.topic.errors %}{{ form.topic.errors }}{% endif %}

        <label for="{{ form.text.id_for_label }}">Текст вопроса</label>
        {{ form.text }}
        {% if form.text.errors %}{{ form.text.errors }}{% endif %}

        <label for="{{ form.tags.id_for_label }}">Список тэгов Вводите через ;</label>
        {{ form.tags }}
        {% if form.tags.errors %}{{ form.tags.errors }}{% endif %}

        <p></p>
        <button type="submit">Спросить!</button>

      </div>
    </form>
  </div>
{% endblock %}
