{% extends "base.html" %}

{% block title %} Страница вопроса {% endblock %}

{% block content %}

  <div class="div-column">
    

    <div class="question-card">
      <div class="div-column div-column--aside">
        <img class="question-avatar" src="{{ question.user.profile.avatar_url }}" alt="" />
        <input class="rating-input" type="number" value="{{ question.rating }}"></input>
      </div>
      <div class="div-column div-column--main">
        <p>{{ question.topic }}</p>
        <p>{{ question.text }}</p>
        <p>
          Тэги:
          {% for t in question.tags.all %}
            <a href="{% url 'questions:tag' t.title %}">{{ t.title }}</a>
          {% endfor %}
        </p>
      </div>
    </div>

    <hr />
    {% for a in answers %}
      <div class="answer-card">
        <div class="div-column div-column--aside">
          <img class="question-avatar" src="{{ a.user.profile.avatar_url }}" alt="" />
          <input class="rating-input" type="number" value="{{ a.rating }}"></input>
        </div>
        <div class="div-column div-column--main">
          <p>{{ a.text }}</p>
          <p>
            <input id="{{ cid }}" type="checkbox" {% if a.correct %}checked{% endif %} disabled>
            <label for="{{ cid }}">Правильно</label>
          </p>
        </div>
        
      </div>
    {% empty %}
      <li>Ответов пока нет.</li>
    {% endfor %}


    <hr />

    <div class="answer-card user-answer-card">
      <div class="div-column--main">
        <textarea 
          class="user-answer"
          rows="4"
          placeholder="Введите Ваш ответ"
        ></textarea>
        <button type="submit"> Ответ </button>
      </div>
    </div>
  </div>


{% endblock %}