{% extends "base.html" %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block extra_head %} 
  <link rel="stylesheet" href="{% static 'css/forms.css' %}"> 
{% endblock %}

{% block content %}
  <div class="div-container">
    <div class="form-grid">
      <div class="form-label">Логин</div>
      <div><input type="text" value="{{ request.user.username }}" disabled></div>

      <div class="form-label">Почта</div>
      <div><input type="text" value="{{ request.user.email }}" disabled></div>

      <div class="form-label">Имя</div>
      <div><input type="text" value="{{ profile.display_name }}" disabled></div>

      <div class="form-label">Фото</div>
      <div>
        <img src="{{ profile.avatar_url }}" alt="avatar" style="height:160px;border-radius:8px;">
      </div>

      <div class="form-actions">
        <a class="btn" href="{% url 'users:profile_edit' %}">Редактировать</a>
      </div>
    </div>

  </div>

{% endblock %}